body {
  color: white;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  padding: 0 110px;
}

.menu li {
  display: inline-block;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px;
  grid-template-rows: repeat(3, minmax(100px, max-content));
  grid-gap: 10px;
}

header {
  grid-column: 1 / -1;
  background-color: rgba(141, 181, 128, 1);
}

.inner {
  justify-content: space-between;
}

.inner .img-wrapper {
  max-height: 100px;
  max-width: 100px;
}

.img-wrapper  img {
  max-width: 100%;
  max-height: 100%;
}

main {
  grid-column: 2 / 5;
  min-height: 500px;
  background-color: rgba(126, 137, 135, 1);
}

aside {
  grid-column: 5;
  background: chartreuse;
}

footer {
  grid-column: 1 / -1;
  background-color: rgba(75, 74, 103, 1);
}


