body {
  color: white;
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  transition: 0.3s;
  color: #000;
}

.right {
  height: fit-content;
  padding: 20px 0;
  flex: 0 1 30%;
}

header, footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  padding: 0 110px;
}

.menu {
  justify-content: space-between;
  display: flex;
}

.menu li {
  display: inline-block;
}

.social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.icons {
  justify-content: space-between;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  background: #000;
  color: #fff;
  border-radius: 50%;
}

.icons {
  display: flex;
  flex: 0 1 70%;
}

.icon:hover {
  transition: 0.4s;
  background-color: #fff;
  color: #000;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px;
  grid-template-rows: repeat(3, minmax(100px, max-content));
  grid-gap: 10px;
}

header {
  grid-column: 1 / -1;
  background-color: rgba(141, 181, 128, 1);
}

.inner {
  justify-content: space-between;
}

.inner .img-wrapper {
  max-height: 100px;
  max-width: 100px;
}

.img-wrapper  img {
  max-width: 100%;
  max-height: 100%;
}

main {
  grid-column: 2 / 5;
  min-height: 500px;
  background-color: rgba(126, 137, 135, 1);
}

aside {
  grid-column: 5;
  background: chartreuse;
}

footer {
  grid-column: 1 / -1;
  background-color: rgba(75, 74, 103, 1);
}


