@media screen and (max-width: 767px) {

  aside, .social, .menu, .right, .author-info {
    display: none;
  }

  header  {
    justify-content: center;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hidden-aside-bottom, .hidden-aside-top {
    display: block;
    grid-column: 2 / 6;
    margin: 20px 0;
    text-align: center;
  }

  .single-post{
    margin: 10px;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    padding: 20px;
    justify-content: center;
  }

  #menuToggle, .header-search, .hamburger, .hidden-large {
    display: block !important;
  }

}